@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Hey! We’re Kirsty & Chris, or ‘Fern & Fallow’ if you will.. We married in February of 2017, and held our reception in the lush backyard of Kirsty’s parents hoME in the beautiful Dandenong Ranges.
    Navigating a DIY wedding for 155 guests on a budget was no easy task, & the idea of having a more Personal, Fun and affordable one-stop-shop hire & Floral business never quite left our minds.
    what’s more, We hope to Honour each & every Celebration, marriage & event, with the love and care they deserve, starting with donating 10% of our profits to charities close to our hearts.
    So why ‘Fern & Fallow’? Kirsty Due to her middle name, is fondly called ‘Kirsty Fern’ by her closest family & friends. Fern would be lost without her ‘fellow’ best friend, supporter & partner in crime, Chris.
    ’Fallow’ means to leave farmland to rest for a season or two before turning & ploughing the soil. One day we dream of Fern & Fallow Farm, a wedding venue & a home.
</p>
