@model IEnumerable<FernAndFallowWebsite.Models.WishList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wish List</h2>


<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

    </tr>
}
<tr>@Html.ActionLink("Make Quote", "GetQuote") </tr>

</table>
